<gx-header></gx-header>

<div id="mainPage">

  <div class="page-container" id="home">



    <h2>Home</h2>

    <div class="container">
      <div class="row">
        <div class="col col-md-8">
          <h3>My Groups</h3>
          <div class="card-deck">
            <div class="card" *ngFor="let group of groups">              
                <div class="card-body">
                  <h5 class="card-title">{{group.name}}</h5>
                  <p class="card-context" *ngIf="group.description.length > 0">{{group.description}}</p>
                  <a class="card-link" routerLink="/group/{{group.id}}">Go to Group</a>
                </div>              
            </div>
          </div>
          <a [routerLink]="['/groups/edit/-1']">Add a new group</a>
        </div>
        <div class="col col-md-4">
          <h3>Lists go here</h3>
        </div>
      </div>
    </div>


  </div>

  <footer-reveal-button></footer-reveal-button>

  <div class="body-bg"></div>
</div>

<gx-footer></gx-footer>
