<gx-header></gx-header>

<div id="mainPage">

  <div class="page-container" id="registerPage">

    <h2>Sign up for a account. It's free!</h2>

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">Your email address</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      </div>
      <h4>Create a password to login</h4>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid && confirmPassword == password }">
        <label for="confirmPassword">Re-type Password</label>
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <div *ngIf="f.submitted && confirmPassword != password">Password does not match</div>
      </div>
      <h4>Now tell us a little about yourself.</h4>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
        <label for="firstName">Youe first name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
        <div *ngIf="f.submitted && !firstName.valid" class="help-block">First name is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
        <label for="lastName">Youe last name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
        <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last name is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
        <label for="gender">Your gender ... <small>(as stated on your birth certificate)</small></label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="gender" value="m" [(ngModel)]="model.gender" #gender="ngModel" /> Male
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="gender" value="m" [(ngModel)]="model.gender" #gender="ngModel" /> Female
          </label>
        </div>
        <div *ngIf="f.submitted && (gender == 'm' || gender == 'f')" class="help-block">Gender is required</div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>

  <footer-reveal-button></footer-reveal-button>

  <div class="body-bg"></div>
</div>

<gx-footer></gx-footer>


