@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Sans');

// Presets & Variables
@import 'presets/variables';
@import 'presets/mixins';

@import "node_modules/bootstrap/scss/bootstrap";

// Additional Presets & Variables
@import 'presets/grid-settings';
@import 'presets/helper-classes';
// Layout
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';
// Components
@import 'components/general';
@import 'components/typography';
@import 'components/branding';
@import 'components/nav-primary';
@import 'components/nav-secondary';
@import 'components/iebar';
// Vendor

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: $color-fruitbasket !important;
  color: $color-pa !important;
  font-family: 'PT Sans' !important;
  border: 1px solid $color-fruitbasket !important;

  @include placeholder {
    color: $color-spiraling !important;
  }
}
