<header id="header">
  <div class="clearfix">
    <div class="float-right register-box">
      <span class="register-text align-middle">Not a member?</span><a [routerLink]="['/register']" class="btn btn-primary btn-register">Register</a>
    </div>
  </div>
</header>

<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col col-md-3">
      <div class="login-logo-container">
        <h1 class="site-title">My Gift Xchange</h1>
      </div>
    </div>
    <div class="col col-md-5">
      <div class="login-form-container">
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group button-container">
            <button [disabled]="loading" type="submit" class="btn btn-primary btn-login">Login</button>
          </div>
        </form>
        <div class="login-social-divider"><span>or connect with</span></div>
        <div class="login-social-buttons">
          <google-signin></google-signin><facebook-signin></facebook-signin><twitter-login></twitter-login>
        </div>
      </div>
    </div>
  </div>
</div>

<footer-reveal-button></footer-reveal-button>
