$base-font-size: 100%;
// assets path
$assets: '/Portals/_default/Skins/SC/assets/dist';
// colors
/*
    color palette: http://www.colourlovers.com/palette/2586345/Santas_Tea_Party
*/

$color-pa: #eebd85; //238,189,133
$color-spiraling: #d09462; //208,148,98
$color-carmel: #896857; //137,104,87
$color-fruitbasket: #624549; //98,69,73
$color-rudolphsnose: #c74e45; //199,78,69

$theme-colors: ( "primary": $color-pa, "secondary": $color-spiraling, "success": $color-carmel, "danger": $color-rudolphsnose, "warning": $color-pa, "info": $color-spiraling, "fruity": $color-fruitbasket, "carmel": $color-carmel );

//bootstrap overrides
$body-bg: transparent;
$body-color: #eebd85;
$tooltip-color: $color-pa;
$tooltip-bg: $color-fruitbasket;

// fonts
